

.splide__slide > div > div >  div :first-child{
    /* width: fit-content; */
    /* height: fit-content; */
    padding: 0.5rem 1rem;
    
    /* color: white; */
    border-radius: 1rem;
    border: none;
    outline: none;
    cursor: pointer;
}
.splide__slide > div > div > div >:last-child{
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    border: none;
    outline: none;
    cursor: pointer;
}


.splide__slide > div > div > p{
    width: 60%;
    font-size: 2rem;
    color: white;
}

.content {
    position: relative; /* Ensures absolute positioning works inside */
    width: 100vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
  }
  
  .slide-image {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures image covers the area properly */
  }
  
  .overlay {
    position: absolute;
    top: 40%; 
    left: 40%; 
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background: rgba(0, 0, 0, 0.1); 
    padding: 20px;
    border-radius: 10px;
    color: white;
    place-self: end center;
  }
  .second-slide,.third-slide{
    left: 10%;
    bottom: 10%;
  }
  